<launch>

    <node pkg="hanke_pison_image_transport" type="my_subscriber" name="left_image">
    <remap from="/camera/image" to="/left_pi/camera/image" />
    </node>

    <node pkg="hanke_pison_image_transport" type="my_subscriber" name="right_image">
    <remap from="/camera/image" to="/right_pi/camera/image" />
    </node>

</launch>
